body {
	margin:0px;
	padding:0px;
	height:100%;
	min-width:960px;
	background:url('http://img12.3lian.com/gaoqing02/01/31/01/06.jpg');
	background-size:100%;
}
.container {
	width:960px;
	margin:0 auto;
	margin-top:200px;
}
#login {
background: RGBA(0,0,0,0.2);
padding: 10px;
border-radius: 3px;
margin: 0 210px;
}
#login input{
	float:left;
	margin-right:5px;
}
